/* Thiên responsive */
/* Mobile */
@media (max-width: 46.25em) {
    /*
    Comon class
    */
    .mobile-undisplay {
        display: none;
    }
    
    .mobile-col-full {
        width: 100%;
    }

    .mobile-col-half {
        width: 40%;
    }

    .section-heading {
        font-size: 24px;
    }

    /*
    Responsive: Section 1 - Navbar & banner
    */
    #section1 .navbar__left {
        font-size: 16px;
        margin-top: 6px;
    }

    #section1 .navbar__right .nav-button {
        font-size: 12px;
        width: 120px;
    }

    .banner .banner-content .banner-content__heading {
        font-size: 36px !important;
    }

    .banner .banner-content .banner-content__subheading {
        font-size: 16px !important;
    }

    .banner .banner-content .banner-content__button {
        font-size: 12px !important;
        padding: 16px;
    }

    /*
    Responsive: Section 2 - Products
    */  
    .contents .content {
        margin: 0 36px;
    }
    .contents .content .content__slogan {
        font-size: 24px;
    }
    .contents .content .content__subslogan,
    .contents .content .content__button  {
        font-size: 18px;
    }

    /* Responsive: Section 3 - Collections */
    .collections {
        justify-content: center;
    }

    /* Responsive: Section 4 - Products */
    #products .products-list {
        margin-left: 15%;
    }

    #products .products-list .product {
        font-size: 20px;
    }

    #products .products-list .product .product__name {
        line-height: 24px;
        min-height: 48px;
    }    

    #products .products-list .product .product__price {
        padding: 32px 0 24px;
        line-height: 24px;
    }

    /* Modal in section 4 */
    .modal-container .modal-button {
        font-size: 16px;
    }

    .modal-container .modal-heading {
        font-size: 16px;
    }

    /* Toast message */
    .toast {
        margin-left: 20%;
        width: 350px;
    }

    .toast-title {
        font-size: 12px;
    }

    .toast-message {
        font-size: 8px;
    }

    /*
    Responsive: Section 5 - Flash sale
    */
    #flash-sale .sale-content .sale-background {
        height: 400px;
    }

    #flash-sale .sale-content .sale-products {
        height: 400px;
    }

    .sale-product__image {
        margin-top: 75px;
    }

    #flash-sale .sale-content .sale-background .sale-background__content{
        font-size: 28px;
        padding-top: 100%;
        height: 70%;
    }

    #flash-sale .sale-content .sale-background .sale-background__desc {
        font-size: 16px;
    }

    .sale-product__image {
        width: 80px !important;
        height: 80px !important;
    }

    .sale-product__price {
        font-size: 12px !important;
        line-height: 16px;
    }

    .sale-btn { 
        font-size: 12px;
    }


    /*
    Responsive: Section 9 - Footer
    */
    #footer {
        padding-top: 24px;
    }

    #footer .content {
        margin-left: 10px;
        min-width: 440px;
    }

    #footer .content .content__left {
        font-size: 12px;
    }

    #footer .content .content__left i {
        font-size: 12px;
    }

    #footer .social-icons icon {
        font-size: 16px;
    }
    #footer .copyright {
        font-size: 12px;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 64em) {
    /*
    Comon class
    */
    .tablet-undisplay {
        display: none;
    }

    .tablet-col-third {
        width: 25%;
    }

    .section-heading {
        font-size: 30px;
    }

    /* Responsive: Section 2 - Slogan & video */
    

    /* Responsive: Section 4 - Products */
    #products .products-list {
        margin-left: 15%;
    }

    #products .products-list .product {
        font-size: 24px;
    }

    #products .products-list .product .product__price {
        line-height: 36px;
    }
    
}

/* Tablet and mobille */
@media (max-width: 63.9375em) {
    .contents {
        flex-direction: column;
    }

    .video_demo {
        margin-top: 36px;
        margin-right: 18px;
        margin-left: 18px;
    }
}


/*
    PRIVATE
    Responsive: Section 1 - Navbar
*/
@media (max-width: 85.625em) {
    #section1 .navbar__left {
        width: 25%;
    }

    #section1 .navbar__right {
        width: 75%;
    }
}

@media (max-width: 68.75em) {
    .section1-undisplay {
        display: none;
    }

    .section1-col-full {
        width: 100%;
    }

    #section1 .navbar__right .nav-button {
        float: right;
        margin-right: 24px;
    }  
    
   
}
/*
    END PRIVATE
    End responsive: Section 4 - Products
*/


/*
    PRIVATE
    Responsive: Section 4 - Products
*/
@media (min-width: 48.75em) and (max-width: 63.9375em) {
    #products .products-list .product .product__name {
        min-height: 48px;
    }
}
/*
    END PRIVATE
    End responsive: Section 4 - Products
*/


/*
    PRIVATE
    Responsive: Section 5 - Flash sale
*/
@media (max-width: 75em) {
    .sale-product__image {
        width: 210px;
        height: 210px;
    }
}

@media (max-width: 59.375em) {
    
    .sale-product__price{
        font-size: 16px;
    }

    .sale-product__image {
        width: 175px;
        height: 175px;
    }
}
/*
    END PRIVATE
    Responsive: Section 5 - Flash sale
*/


/*
    PRIVATE
    Responsive: Section 9 - Footer
*/
@media (min-width: 46.25em) and (max-width: 77.8125em) {
    .content__right .subclass p {
        min-height: 48px;
    }
}
/*
    END PRIVATE
    Responsive: Section 9 - Footer
*/

/* PC */
@media (min-width: 64em) {
    .sale-product__price {
        max-width: 300px;
    }
}

/* Tablet and PC */
@media (min-width: 46.25em) {

}

/* Mobile and Tablet */
@media (max-width: 63.9375em) {
    
}


/* Quí responsive */

/* Table */
@media (max-width: 78.125em) {
    /* Responsive: Section 1 - Banner */
    .banner .banner-content {
        left: 5%;
    }
    .banner .banner-content .banner-content__heading {
        font-size: 60px;
    }

    .banner .banner__image {
        width: 100%;    
        max-width: 400px;
    }

    .banner .banner-content .banner-content__subheading {
        font-size: 18px;
    }

    .feedback .feedback__content .comment .comment__content {
        height: 125px;
    }

    .feedback .feedback__content .comment .comment__content {
        font-size : 14px;
    }

    .feedback .feedback__content .comment {
        margin: 48px 16px;
    }
}

@media(max-width: 63.125em) {
    /* Responsive: Section 1 - Banner */
    .banner .banner-content .banner-content__heading {
        font-size: 48px;
    }

    .banner .banner-content .banner-content__subheading {
        font-size: 14px;
    }

    .banner .banner-content .banner-content__button {
        max-width: 200px;
        font-size: 16px;
    }

    .banner .banner-left {
        width: 100%;
    }

    .banner .banner-content {
        margin-top: 0;
        margin-left: 0;
        padding: 48px 0;

    }

    .banner .banner__image {
        display: none;
    }
}

@media (max-width: 57.5em) {
    .feedback .feedback__content {
        flex-wrap: wrap;
        justify-content: center;
    }   

    .registry__advisory {
        margin-top: 500px;
    }

    .registry__advisory .registry .registry__form .title {
        font-size: 24px;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .mobile-undisplay {
        display: none;
    }

    .feedback .feedback__content .comment {
        margin: 48px 16px;
    }

    
    .registry__advisory .registry .registry__form {
        width: 100%;
    }

}

@media (max-width: 42.5em) {
    .registry__advisory {
        margin-top: 800px;
    }

    .registry__form button {
        margin-top: 20px;
        font-size: 12px;
    }
}